{{#restrict section="config" level="admin" block=true}}{{/restrict}}

{{if $_GET.type === 'object'}}
	{{:assign type="object" title="Types d'objets"}}
{{else}}
	{{:assign type="category" title="Catégories"}}
{{/if}}

{{:admin_header title=$title current="module_saisie_poids"}}

{{:include file="../_nav.html" current="config" config=$type}}

{{#list type=$type schema="../%s.schema.json"|args:$type columns="label,target" order="label" disable_user_ordering=true}}
	<tr>
		<th>{{$label}}</th>
		<td>{{if $target === 'entry'}}Entrée{{else}}Sortie{{/if}}</td>
		<td class="actions">
			{{:linkbutton shape="edit" href="edit.html?key=%s&type=%s"|args:$key:$type label="Modifier"}}
			{{:linkbutton shape="delete" href="delete.html?key=%s&type=%s"|args:$key:$type label="Supprimer" target="_dialog"}}
		</td>
	</tr>
{{/list}}

{{:admin_footer}}
