<nav class="tabs">
	<aside>
		{{#restrict section="config" level="admin"}}
			{{:linkbutton href="config.html" label="Configuration" shape="settings" target="_dialog"}}
		{{/restrict}}
		{{:linkbutton href="edit.html?type=quote" label="Nouveau devis" shape="plus" target="_dialog"}}
		{{:linkbutton href="edit.html?type=invoice" label="Nouvelle facture" shape="plus" target="_dialog"}}
	</aside>

	<ul>
		<li{{if $current === 'index'}} class="current"{{/if}}><a href="./">Tous les documents</a></li>
		<li{{if $current === 'drafts'}} class="current"{{/if}}><a href="./?show=drafts">Brouillons</a></li>
		<li{{if $current === 'quotes'}} class="current"{{/if}}><a href="./?show=quotes">Devis</a></li>
		<li{{if $current === 'payable'}} class="current"{{/if}}><a href="./?show=payable">Factures en souffrance</a></li>
		<li{{if $current === 'paid'}} class="current"{{/if}}><a href="./?show=paid">Factures réglées</a></li>
		<li{{if $current === 'clients'}} class="current"{{/if}}><a href="clients.html">Clients</a></li>
	</ul>
</nav>