{{if $_GET.key}}
	{{#load key=$_GET.key assign="doc" where="$$.type = 'quote' OR $$.type = 'invoice'"}}
	{{else}}
		{{:error message="Ce document n'existe pas ou plus"}}
	{{/load}}
{{else}}
	{{if $_GET.type !== 'quote' && $_GET.type !== 'invoice'}}
		{{:error message="Type de document inconnu"}}
	{{/if}}

	{{:assign var="doc" status="draft" key=""|uuid type=$_GET.type number=null}}
	{{:assign var="doc.lines."}}
	{{:assign var="doc.lines."}}
{{/if}}

{{if $doc.status !== 'draft'}}
	{{:error message="Ce document n'est plus un brouillon et ne peut plus être modifié"}}
{{/if}}

{{if !$module.config.first_invoice_number}}
	{{:redirect to="./config_number.html?type="|cat:$doc.type}}
{{/if}}

{{#form on="save"}}
	{{if !$_POST.date|trim|parse_date}}
		{{:error message="Date d'émission invalide ou vide."}}
	{{elseif $_POST.date_expiry|trim|parse_date === false}}
		{{:error message="Date d'échéance invalide."}}
	{{elseif !$_POST.label|trim}}
		{{:error message="Le libellé ne peut rester vide."}}
	{{elseif !$_POST.client_name|trim}}
		{{:error message="Le nom du client ne peut rester vide."}}
	{{elseif !$_POST.client_address|trim}}
		{{:error message="L'adresse du client ne peut rester vide."}}
	{{elseif $_POST.client_email|trim && !$_POST.client_email|check_email}}
		{{:error message="L'adresse e-mail du client semble être invalide."}}
	{{/if}}

	{{#load type="client" name=$_POST.client_name}}
		{{:assign client_uuid=$key}}
	{{/load}}

	{{:save key=$doc.key
		validate_schema="./doc.schema.json"
		type=$doc.type
		status="draft"
		number=$doc.number
		label=$_POST.label|trim
		date=$_POST.date|trim|parse_date
		date_expiry=$_POST.date_expiry|trim|parse_date|or:null
		client_name=$_POST.client_name|trim
		client_address=$_POST.client_address|trim
		client_email=$_POST.client_email|trim
		client=$client_uuid
		header_text=$_POST.header_text|trim
	}}

	{{:redirect to="./details.html?doc=%s"|args:$doc.key}}
{{/form}}

{{if !$doc.id}}
	{{if $doc.type === 'invoice'}}
		{{:assign title="Nouvelle facture"}}
	{{else}}
		{{:assign title="Nouveau devis"}}
	{{/if}}
{{else}}
	{{if $doc.type === 'invoice'}}
		{{:assign title="Modifier une facture"}}
	{{else}}
		{{:assign title="Modifier un devis"}}
	{{/if}}
{{/if}}

{{:admin_header title=$title}}

{{:form_errors}}

<form method="post" action="{{$self_uri}}">

<fieldset>
	<legend>Client</legend>
	<dl>
		{{:input type="text" datalist="%sclients_complete.tpl"|args:$module.config.url name="client_name" source=$doc label="Nom" required=true}}
		{{:input type="textarea" cols="50" rows="3" name="client_address" source=$doc label="Adresse" required=true}}
		{{:input type="email" name="client_email" source=$doc label="Adresse e-mail" required=false}}
	</dl>
</fieldset>

<fieldset>
	<legend>Détails</legend>
	<dl>
		{{:input required=true name="label" type="text" label="Libellé" source=$doc}}
		{{:input required=true name="date" type="date" label="Date d'émission" source=$doc default=$now}}
		{{if $doc.type === 'invoice'}}
			{{:input required=false name="date_expiry" type="date" label="Date d'échéance" source=$doc help="Après cette date la facture sera considérée comme étant en souffrance."}}
			{{:input required=false name="header_text" type="textarea" cols=50 rows=3 label="Texte à faire figurer au début de la facture" source=$doc help="(MarkDown autorisé)"}}
		{{else}}
			{{:input required=false name="date_expiry" type="date" label="Date d'échéance" source=$doc help="Après cette date le devis ne sera plus valide."}}
			{{:input required=false name="header_text" type="textarea" cols=50 rows=3 label="Texte à faire figurer au début du devis" source=$doc help="(MarkDown autorisé)"}}
		{{/if}}
	</dl>
</fieldset>

<p class="submit">
	{{:button type="submit" name="save" label="Enregistrer" shape="right" class="main"}}
</p>

</form>

{{:admin_footer}}