{{#restrict block=true section="accounting" level="read"}}
{{/restrict}}
{{if !$_GET.id}}

	{{:admin_header title="Remise en banque" current="acc"}}

	<p class="alert block">Le bordereau s'affichera en dessous des écritures de remise en banque.</p>

	{{:admin_footer}}
{{else}}
	{{#transactions id=$_GET.id}}
		{{:assign date_short=$date|date_format:"%d-%m-%Y"}}
		{{:include file="/receipt/_header.html" page_size="A5" title="Bordereau remise - %d - %s"|args:$id:$date_short}}

			<h1>Bordereau de remise en banque</h1>

			<h4>Écriture n°{{if $reference}}{{$reference}}{{else}}{{$id}}{{/if}} — {{$date|date_short}}</h4>

			<div style="display: flex; text-align: center; gap: 1em; margin: 1em 0; align-items: center; font-size: 1.2em;">
				{{#transaction_lines transaction=$id where="credit > 0"}}
					<p>Compte d'attente&nbsp;:<br /><strong>{{$account_label}}</strong></p>
				{{/transaction_lines}}

				<p>
					&rarr;
				</p>

				{{#transaction_lines transaction=$id where="debit > 0"}}
					<p>Compte de dépôt&nbsp;:<br /><strong>{{$account_label}}</strong></p>
				{{:assign account_id=$id_account}}
				{{/transaction_lines}}
			</div>

			{{#accounts id=$account_id where="description IS NOT NULL"}}
				<p>{{$description|escape|nl2br}}</p>
			{{/accounts}}

			<table>
				{{:assign i=1}}
				{{#transaction_lines transaction=$id where="credit > 0"}}
				<tr>
					<th width="5%">{{$i}}.</th>
					<td width="40%">{{$reference}}</td>
					<td width="40%">{{$label}}</td>
					<td width="15%" class="money">{{$credit|raw|money_currency}}</td>
				</tr>
				{{:assign i="%d+1"|math:$i}}
				{{/transaction_lines}}
			</table>

			<h3>Nombre : {{"%d-1"|math:$i}}</h3>

			<h3>Total : {{$credit|raw|money_currency}}</h3>

		{{:include file="/receipt/_footer.html"}}
	{{else}}
		{{:error message="Le numéro d'écriture fourni n'existe pas."}}
	{{/transactions}}
{{/if}}