{{if $module.config.accounts === null}}
	{{:assign var="module.config.accounts.5112" value='5112'}}
{{elseif $module.config.accounts|gettype === 'string'}}
	{{:include file="/receipt_donation/_upgrade.tpl" keep="module.config.accounts"}}
{{/if}}

{{#foreach from=$transaction_lines item="line"}}
	{{if !$line.credit}}
		{{:continue}}
	{{/if}}

	{{#foreach from=$module.config.accounts key="code"}}
		{{if $line.account_code|strpos:$code === 0}}
			{{:assign show=true}}
			{{:break}}
		{{/if}}
	{{/foreach}}

	{{if $show}}
		{{:break}}
	{{/if}}
{{/foreach}}


{{if $show}}
	{{:include file="/receipt/snippets/transaction_details.html" show=true}}
{{/if}}