{{if $module.config.accounts === null}}
	{{:assign var="module.config.accounts.5112" value='5112'}}
{{elseif $module.config.accounts|gettype === 'string'}}
	{{:include file="/receipt_donation/_upgrade.tpl" keep="module.config.accounts"}}
{{/if}}

{{:assign accounts=$module.config.accounts|keys}}

{{#select 1 FROM acc_transactions_lines l
	INNER JOIN acc_accounts a ON a.id = l.id_account
	WHERE l.id_transaction = {$transaction.id} AND line.credit != 0 AND a.!codes_list
	LIMIT 1;
	!codes_list="code"|sql_where:"IN":$accounts
}}
	{{:assign show=1}}
{{/select}}

{{if $show}}
	<h2 class="ruler">{{$module.label}}</h2>
	<p class="actions-center">
		{{:linkbutton href="%s?id=%d"|args:$module.url:$transaction.id target="_dialog" label="Prévisualiser" shape="eye"}}
		{{if $pdf_enabled}}
			{{:linkbutton href="%s?id=%d&print=pdf"|args:$module.url:$transaction.id label="Télécharger en PDF" shape="download"}}
		{{/if}}
		{{:linkbutton href="%s?id=%d&print=yes"|args:$module.url:$transaction.id target="_blank" label="Imprimer" shape="print"}}
	</p>
{{/if}}