{{#form on="save"}}
	{{:save key="config"
		validate_schema="./config.schema.json"
		header=$_POST.header|trim|or:null
		fields=$_POST.fields|arrayval|or:null
		email_waiting_subject=$_POST.email_waiting_subject|trim
		email_waiting_body=$_POST.email_waiting_body|trim
		email_confirmed_subject=$_POST.email_confirmed_subject|trim
		email_confirmed_body=$_POST.email_confirmed_body|trim
	}}
	{{:redirect to="?ok=1"}}
{{/form}}

{{:admin_header title="Configuration du formulaire d'inscription"}}

{{if $_GET.ok}}
	<p class="block confirm">Configuration enregistrée.</p>
{{/if}}

{{:form_errors}}

<form method="post" action="">

<fieldset>
	<legend>Informations générales</legend>
	<dl>
		{{:input type="textarea" cols="70" rows="15" name="header" required=false source=$module.config label="Informations d'inscription" default="Vous voulez rejoindre notre association ?\n\nRenseignez les champs ci-dessous avec vos informations.\n\nUne fois votre fiche renseignée, nous validerons votre inscription dès que possible."}}
		<dd class="help">Syntaxe Markdown acceptée.
			{{:linkbutton shape="help" label="Aide de la syntaxe Markdown" href="!static/doc/markdown.html"}}
		</dd>
	</dl>
</fieldset>

<fieldset>
	<legend>Champs que le membre pourra pré-remplir</legend>
	<p class="help">
		Chacun des champs cochés sera visible dans la fiche d'inscription, et le membre pourra le renseigner.
	</p>
	<dl>
		{{#select * FROM config_users_fields WHERE type NOT IN ('file', 'password', 'virtual') AND system & (1 << 3) = 0 ORDER BY sort_order}}
			{{if $module.config.fields|has:$name}}
				{{:assign var="checked" value=$name}}
			{{else}}
				{{:assign var="checked" value=null}}
			{{/if}}
			{{:input type="checkbox" name="fields[]" value=$name label=$label default=$checked}}
		{{/select}}
	</dl>
</fieldset>

<fieldset>
	<legend>Message envoyé lors de l'enregistrement de la pré-inscription</legend>
	<p class="help">
		Ce message sera envoyé au membre quand sa pré-inscription est enregistrée et est en attente de validation par un⋅e gestionnaire.
	</p>
	<dl>
		{{:input name="email_waiting_subject" type="text" label="Sujet du message" required=true source=$module.config default="Votre demande d'inscription a été enregistrée"}}
		{{:input name="email_waiting_body" type="textarea" label="Corps du message" cols="70" rows="7" required=true source=$module.config default="Bonjour !\n\nNous avons bien enregistré votre demande d'inscription.\n\nVous recevrez un message quand elle aura été validée par une administratice ou un administrateur."}}
	</dl>
</fieldset>

<fieldset>
	<legend>Message envoyé lors de la validation de l'inscription</legend>
	<p class="help">
		Ce message sera envoyé au membre quand un⋅e gestionnaire aura validé son inscription.
	</p>
	<dl>
		{{:input name="email_confirmed_subject" type="text" label="Sujet du message" required=true source=$module.config default="Bienvenue !"}}
		{{:input name="email_confirmed_body" type="textarea" label="Corps du message" cols="70" rows="7" required=true source=$module.config default="Bonjour !\n\nVotre inscription est validée."}}
	</dl>
</fieldset>

<p class="submit">
	{{:button type="submit" name="save" label="Enregistrer" shape="right" class="main"}}
</p>

</form>

{{:admin_footer}}