{{#load assign="claim" key=$_GET.id}}
{{else}}
	{{:error message="Cette note de frais n'existe pas"}}
{{/load}}

{{#restrict section="accounting" level="write"}}
	{{:assign is_admin=true}}
{{else}}
	{{:assign is_admin=false}}
	{{if $claim.id_user !== $logged_user.id}}
		{{:error message="L'accès à cette note de frais est interdit"}}
	{{/if}}
{{/restrict}}


{{#form on="delete"}}
	{{:delete key=$_POST.delete}}
	{{:http redirect="details.html?id=%s"|args:$claim.key}}
{{/form}}

{{if $claim.status === 'draft'}}
	{{#form on="validate"}}
		{{:save key=$claim.key status="waiting"}}
		{{:http redirect="details.html?id=%s"|args:$claim.key}}
	{{/form}}
{{elseif $claim.status === 'waiting' || $claim.id_user !== $logged_user.id}}
	{{#form on="cancel"}}
		{{:save key=$claim.key status="cancelled"}}
		{{:http redirect="details.html?id=%s"|args:$claim.key}}
	{{/form}}
{{/if}}

{{:admin_header title="Note de frais n°%d"|args:$claim.number}}

<nav class="tabs">
	<aside>
		{{:linkbutton shape="plus" label="Ajouter une ligne à la note de frais" href="./line.html?claim=%s"|args:$claim.key target="_dialog"}}
	</aside>
	{{:linkbutton shape="left" label="Retour à la liste des notes de frais" href="./"}}
</nav>

<dl class="describe">
	<dt>Numéro de note de frais</dt>
	<dd>{{$claim.number}}</dd>
	<dt>Statut</dt>
	<dd>
	{{if $claim.status === 'draft'}}
		Brouillon
	{{elseif $claim.status === 'waiting'}}
		En attente de validation
	{{elseif $claim.status === 'payable'}}
		Validée, en attente de paiement
	{{elseif $claim.status === 'paid'}}
		Payée
	{{elseif $claim.status === 'cancelled'}}
		Annulée
	{{/if}}

{{#load select="SUM($$.amount) AS total" where="$$.type = 'line' AND $$.claim = :claim" :claim=$claim.key}}
	<dt>Montant total</dt>
	<dd><strong>{{$total|money_currency}}</strong></dd>
{{/load}}

	{{#foreach from=$claim.transactions item="id"}}
	<dt>Écriture liée</dt>
	<dd>{{:link class="num" href="!acc/transactions/details.php?id=%d"|args:$id label="#%d"|args:$id}}</dd>
	{{/foreach}}
</dl>

<form method="post" action="">

{{if $claim.id_user === $logged_user.id}}
	{{if $claim.status === 'draft'}}
		{{:files edit=true path=$claim.key}}
		<div class="alert block">
			<h4>Brouillon</h4>
			<p>{{:button shape="check" name="validate" label="Valider" type="submit"}}</p>
			<p>En cliquant sur ce bouton, la note de frais sera transmise aux comptables, elle ne pourra plus être modifiée.</p>
		</div>
	{{elseif $claim.status === 'waiting'}}
		<div class="alert block">
			<h4>En attente de validation</h4>
			<p>{{:button shape="delete" name="cancel" label="Annuler" type="submit"}}</p>
			<p>En cliquant sur ce bouton, la note de frais sera annulée.</p>
		</div>
	{{/if}}
{{else}}
{{/if}}

{{#list
	select="$$.label AS 'Libellé'; $$.description AS 'Description'; $$.account AS 'Code comptable'; $$.category AS 'Catégorie'; $$.amount AS 'Montant'"
	order=1
	desc=false
	where="$$.type = 'line' AND $$.claim = :claim"
	:claim=$claim.key
}}
	<tr>
		<th>{{$label}}</th>
		<td class="desc">{{$description|escape|nl2br}}</td>
		<td>{{$account}}</td>
		<td>{{$category}}</td>
		<td class="money">{{$amount|money_currency}}</td>
		<td class="actions">
			{{if $.claim.status === 'draft'}}
				{{:button name="delete" type="submit" value=$key label="Supprimer" shape="delete"}}
			{{/if}}
		</td>
	</tr>
{{else}}
	<p class="alert block">
		Aucune ligne dans cette note de frais.<br />
		{{:linkbutton shape="plus" label="Ajouter une ligne à la note de frais" href="./line.html?claim=%s"|args:$claim.key target="_dialog"}}
	</p>
{{/list}}
</form>


{{if $claim.status === 'cancelled' || $claim.status === 'denied'}}
	{{:assign edit=true upload=false}}
{{elseif $is_admin && $claim.status !== 'paid' && $claim.status !== 'payable'}}
	{{:assign edit=true upload=true}}
{{elseif $claim.id_user === $logged_user.id && $claim.status === 'draft'}}
	{{:assign edit=true upload=true}}
{{else}}
	{{:assign edit=false upload=false}}
{{/if}}

{{:files edit=$edit upload=$upload path=$claim.key}}


{{:admin_footer}}
