{{#load assign="claim" key=$_GET.claim}}
{{else}}
	{{:error message="Cette note de frais n'existe pas"}}
{{/load}}

{{#restrict section="accounting" level="write"}}
	{{:assign is_admin=true}}
{{else}}
	{{if $claim.user_id !== $logged_user.id}}
		{{:error message="L'accès à cette note de frais est interdit"}}
	{{/if}}
	{{:assign is_admin=false}}
{{/restrict}}

{{if !$is_admin && $claim.status !== 'draft'}}
	{{:error message="Cette note de frais n'est pas en brouillon"}}
{{/if}}

{{#form on="save"}}
	{{:save
		validate_schema="./claim.schema.json"
		key=$claim.key
		label=$_POST.label|trim|or:null
		user_preferred_resolution=$_POST.user_preferred_resolution|strval
	}}
	{{:redirect to="./details.html?key=%s"|args:$key}}
{{/form}}

{{:admin_header title="Modifier la note de frais"}}

{{:form_errors}}

<form method="post" action="">
	<fieldset>
		<legend>Modifier la note de frais</legend>
		<dl>
			{{:input type="radio-btn" name="user_preferred_resolution" value="pay" label="Je demande le remboursement des frais" required=true prefix_title="Préférence pour le remboursement" source=$claim}}
			{{:input type="radio-btn" name="user_preferred_resolution" value="abandon" label="Je préfère ne pas être remboursé (abandon des frais)" required=true source=$claim}}
			{{:input type="radio-btn" name="user_preferred_resolution" value="" label="Je n'ai pas de préférence" required=true source=$claim}}
			{{:input type="text" name="label" label="Objet de la note de frais" required=false help="Courte description de l'objet de la note de frais." source=$claim}}
		</dl>
	</fieldset>
	<p class="submit">
		{{:button type="submit" shape="right" label="Enregistrer" name="save" class="main"}}
	</p>
</form>

{{:admin_footer}}