{{if "random_int(1, 10)"|math == 10}}
	{{* Prune old bookings from time to time *}}
	{{:delete type="booking" where="date($$.date) < date('now', '-1 month')"}}
{{/if}}

{{if $_GET.event}}
	{{#load type="event" key=$_GET.event assign="event" archived=false}}
		{{:assign event_selected=true}}
	{{else}}
		{{:error message="L'événement indiqué est introuvable"}}
	{{/load}}
{{else}}
	{{#load type="event" archived=false group="$$.type HAVING COUNT(*) = 1" assign="event"}}
	{{/load}}
{{/if}}

{{#form on="cancel"}}
	{{:delete key=$_POST.cancel type="booking"}}
	{{:redirect to="./?deleted=%s"|args:$_POST.cancel}}
{{/form}}

{{:form_errors}}

{{if $_GET.deleted}}
<p class="confirm block" data-delete-booking="{{$_GET.deleted}}">
	La réservation a bien été annulée.
</p>
{{/if}}

<section class="my_bookings">
{{* New booking *}}
{{if $_GET.b}}
	{{if $_GET.booked}}
	<p class="confirm block">
		Votre réservation a bien été enregistrée.
	</p>
	{{/if}}

	{{#load type="booking" key=$_GET.b}}
		{{#load type="event" key=$event assign="e"}}{{/load}}
		{{:assign var="booking" label=$e.label name=$name event=$e.key key=$key date_str=$date|date_long date=$date|strtotime time_str=$date|date_hour}}
		<article data-new-booking="{{$booking|json_encode}}">
			<h5>Vous avez réservé&nbsp;:</h5>
			<h2>{{$e.label}}</h2>
			<h3>{{$date|date_long}} à <span>{{$date|date_hour}}</span></h3>
			<h5>(Au nom de&nbsp;: {{$name}})</h5>
			<form method="post" action="./" onsubmit="return confirm('Annuler la réservation ?');">
				{{:button type="submit" name="cancel" value=$key label="Annuler cette réservation" shape="delete" class="main"}}
			</form>
		</article>
	{{else}}
		<p class="error block">La réservation indiquée est introuvable, elle a peut-être déjà été annulée.</p>
	{{/load}}
{{/if}}
{{* My bookings *}}
{{if $logged_user.id}}
	{{#load type="booking" id_user=$logged_user.id where="key != :booking" :booking=$_GET.b|or:''}}
		{{#load type="event" key=$event assign="e"}}{{/load}}
		<article>
			<h5>Vous avez réservé&nbsp;:</h5>
			<h2>{{$e.label}}</h2>
			<h3>{{$date|date_long}} à <span>{{$date|date_hour}}</span></h3>
			<h5>(Au nom de&nbsp;: {{$name}})</h5>
			<form method="post" action="./" onsubmit="return confirm('Annuler la réservation ?');">
				{{:button type="submit" name="cancel" value=$key label="Annuler cette réservation" shape="delete" }}
			</form>
		</article>
	{{/load}}
{{/if}}
	<template id="booking">
		<article>
			<h5>Vous avez réservé&nbsp;:</h5>
			<h2>#label#</h2>
			<h3>#date_str# à <span>#time_str#</span></h3>
			<h5>(Au nom de&nbsp;: #name#)</h5>
			<form method="post" action="./" onsubmit="return confirm('Annuler la réservation ?');">
				{{:button type="submit" name="cancel" value="#key#" label="Annuler cette réservation" shape="delete" }}
			</form>
		</article>
	</template>
</section>

{{if !$logged_user}}
<script type="text/javascript" src="local_bookings.js" defer="defer"></script>
{{/if}}

{{if !$event}}

	<section class="booking_events">
		<h1 class="ruler">Réservations</h1>
		<p class="help">Choisir un événement&nbsp;:</p>
		{{#load type="event" order="$$.label" archived=false}}
		<article>
			<h2><a href="?event={{$key}}">{{$label}}</a></h2>
		</article>
		{{else}}
			<p class="block alert">Il n'y a aucun événement réservable.</p>
		{{/load}}
	</section>

{{else}}
	{{#form on="book"}}
		{{:assign slot_data=$_POST.slot|explode:"="}}


		{{if $slot_data|count != 2 || !$slot_data.1|parse_datetime}}
			{{:error message="Date ou données invalides"}}
		{{/if}}

		{{if $slot_data.0}}
			{{* Vérification que le créneau sélectionné existe bien *}}
			{{#load key=$slot_data.0 type="slot" assign="slot"}}
			{{else}}
				{{:error message="Créneau introuvable"}}
			{{/load}}

			{{* Vérification qu'il y a encore des places dispo *}}
			{{#load event=$event.key where="datetime($$.date) = datetime(:date)" slot=$slot.key :date=$slot_data.1 type="booking" count=true}}
				{{if $count >= $slot.seats}}
					{{:error message="Ce créneau est déjà plein, aucune place n'est disponible, désolé."}}
				{{/if}}
			{{/load}}
		{{/if}}

		{{if !$_POST.name|trim}}
			{{:error message="Le nom doit être renseigné."}}
		{{/if}}

		{{if $event.email && !$_POST.email|trim}}
			{{:error message="L'adresse e-mail doit être renseignée."}}
		{{/if}}

		{{if $_POST.email|trim && !$_POST.email|trim|check_email}}
			{{:error message="Adresse e-mail invalide."}}
		{{/if}}

		{{if $_POST.email|trim && !$logged_user}}
			{{:captcha verify=true}}
		{{/if}}

		{{:assign fields=null}}

		{{#foreach from=$event.fields key="i" item="field"}}
			{{:assign var="value" from="_POST.fields.%d"|args:$i}}
			{{:assign var="fields." label=$field.label value=$value|trim|or:null}}
			{{if $field.required && !$value|trim}}
				{{:error message="Le champ '%s' doit être renseigné."|args:$field.label}}
			{{/if}}
		{{/foreach}}

		{{:assign key=""|uuid}}
		{{:save type="booking"
			key=$key
			validate_schema="./booking.schema.json"
			slot=$slot.key
			event=$event.key
			date=$slot_data.1
			name=$_POST.name|trim
			email=$_POST.email|trim|or:null
			id_user=$logged_user.id
			fields=$fields
		}}

		{{if $_POST.email|trim}}
			{{:assign my_date=$slot_data.1|parse_datetime|date_long:true}}
			{{:assign url="%s?b=%s"|args:$module.url:$key}}
			{{:mail to=$_POST.email|trim subject="Réservation du %s"|args:$my_date body="Vous avez réservé pour : %s\n\nLe : %s\n\nPour annuler votre réservation, cliquez ici :\n%s"|args:$event.label:$my_date:$url}}
		{{/if}}

		{{:redirect to="./?b=%s&booked=1"|args:$key}}
	{{/form}}

	{{:form_errors}}

	<form method="post" action="" class="booking_event">

	<article>
		{{if $event_selected}}
			<p class="back">{{:linkbutton shape="left" label="Liste des événements" href="./"}}</p>
		{{/if}}

		<h1>{{$event.label}}</h1>

		{{if $event.description}}
			{{$event.description|raw|markdown}}
		{{/if}}
	</article>

	<fieldset class="slots">
	<legend>Créneaux disponibles</legend>

	{{:assign repeat="%d-1"|math:$event.max_weeks}}

	{{if $event.use_closings || $event.use_openings}}
		{{#module name="openings"}}
			{{* Prendre en compte les périodes de fermeture depuis le module "ouvertures" *}}
			{{if $event.use_closings}}
				{{#foreach from=$config.closed item="slot"}}
					{{:assign
						start="%s %s, 00:00:00"|args:$slot.close_day:$slot.close_month|strtotime
						end="%s %s, 23:59:59"|args:$slot.reopen_day:$slot.reopen_month|strtotime
					}}
					{{if $end < $start}}
						{{:assign
							end="%s %s, 23:59:59, +1 year"|args:$slot.reopen_day:$slot.reopen_month|strtotime
						}}
					{{/if}}
					{{:assign var="closed." start=$start end=$end}}
				{{/foreach}}
			{{/if}}

			{{* Créer les créneaux à partir du module "ouvertures" *}}
			{{if $event.use_openings && $event.openings_slots > 0}}
				{{:assign now="now"|strtotime}}
				{{#foreach from=$config.open item="slot"}}
					{{if $slot.frequency != "this"}}
						{{:assign
							start="%s %s of this month, %s:00"|args:$slot.frequency:$slot.day:$slot.open|strtotime
							end="%s %s of this month, %s:00"|args:$slot.frequency:$slot.day:$slot.close|strtotime
						}}
						{{* Try next month *}}
						{{if $end < $now}}
							{{:assign
								start="%s %s of next month, %s:00"|args:$slot.frequency:$slot.day:$slot.open|strtotime
								end="%s %s of next month, %s:00"|args:$slot.frequency:$slot.day:$slot.close|strtotime
							}}
						{{/if}}
					{{else}}
						{{:assign
							start="%s %s, %s:00"|args:$slot.frequency:$slot.day:$slot.open|strtotime
							end="%s %s, %s:00"|args:$slot.frequency:$slot.day:$slot.close|strtotime
						}}
						{{* Try next week *}}
						{{if $end < $now}}
							{{:assign
								start="next %s, %s:00"|args:$slot.day:$slot.open|strtotime
								end="next %s, %s:00"|args:$slot.day:$slot.close|strtotime
							}}
						{{/if}}
					{{/if}}

					{{#foreach count=$event.openings_slots key="i"}}
						{{if $start >= $end}}
							{{:break}}
						{{/if}}
						{{:assign var="slots.%d"|args:$start frequency=$slot.frequency day=$slot.day open=$start|date:'H:i' seats=$event.openings_seats}}
						{{:assign start="%d+(%d*60)"|math:$start:$event.openings_delay}}
					{{/foreach}}

					{{if $slot.frequency === 'this' && $repeat > 0}}
						{{#foreach count=$repeat}}
							{{:assign date=$start|date:'Y-m-d'}}
							{{:assign start="%s, next %s, %s"|args:$date:$slot.day:$slot.open|strtotime}}
							{{#foreach count=$event.openings_slots key="i"}}
								{{:assign var="slots.%d"|args:$start frequency=$slot.frequency day=$slot.day open=$start|date:'H:i' seats=$event.openings_seats}}
								{{:assign start="%d+(%d*60)"|math:$start:$event.openings_delay}}
							{{/foreach}}
						{{/foreach}}
					{{/if}}
				{{/foreach}}
			{{/if}}
		{{/module}}
	{{/if}}

	{{:assign slots_available=false}}

	{{if !$event.use_openings}}
		{{#load
			type="slot"
			event=$event.key
			where="$$.seats > 0 AND ($$.date IS NULL OR ($$.date > date() OR ($$.date = date() AND $$.open <= strftime('%H:%M'))))"
			order="$$.frequency = 'only' DESC, $$.frequency = 'this' DESC, $$.date, $$.day = 'monday' DESC, $$.day = 'tuesday' DESC, $$.day = 'wednesday' DESC, $$.day = 'thursday' DESC, $$.day = 'friday' DESC, $$.open ASC"}}
			{{if $frequency == 'this'}}
				{{:assign timestamp="%s %s, %s"|args:$frequency:$day:$open|strtotime}}
			{{elseif !$date}}
				{{:assign timestamp="%s %s of this month, %s"|args:$frequency:$day:$open|strtotime}}
			{{else}}
				{{:assign timestamp="%s %s"|args:$date:$open|strtotime}}
			{{/if}}

			{{* Make sure slot is in the future, can't book for past dates *}}
			{{if $frequency != 'only' && $timestamp < $now|date:'U'}}
				{{if $frequency == 'this'}}
					{{:assign timestamp="next %s, %s"|args:$day:$open|strtotime}}
				{{else}}
					{{:assign timestamp="%s %s of next month, %s"|args:$frequency:$day:$open|strtotime}}
				{{/if}}
			{{/if}}

			{{* This shouldn't happen, but make sure it doesn't *}}
			{{if $timestamp < $now|date:'U'}}
				{{:continue}}
			{{/if}}

			{{:assign .="slots.%d"|args:$timestamp}}

			{{if $frequency == 'this' && $repeat > 0}}
				{{#foreach count=$repeat}}
					{{:assign date=$timestamp|date:'Y-m-d'}}
					{{:assign timestamp="%s, next %s, %s"|args:$date:$day:$open|strtotime}}
					{{:assign ..="slots.%d"|args:$timestamp}}
				{{/foreach}}
			{{/if}}
		{{/load}}
	{{/if}}

	{{* Make sure we sort slots by datetime *}}
	{{:assign slots=$slots|ksort}}
	{{:assign last_date=null}}

	{{#foreach from=$slots item="slot" key="timestamp"}}
		{{* take into account the closing dates *}}
		{{if $event.use_closings}}
			{{#foreach from=$closed item="closing"}}
				{{if $closing.start <= $timestamp && $closing.end >= $timestamp}}
					{{if $slot.frequency == 'only'}}
						{{* Don't cancel specific dates if they are in a closed time, it's probably an event during a closed time *}}
						{{:continue}}
					{{elseif $slot.frequency == 'this'}}
						{{:assign end_date="%d+86400"|math:$closing.end|date:'Y-m-d'}}
						{{:assign timestamp="%s, %s %s, %s"|args:$end_date:$slot.frequency:$slot.day:$slot.open|strtotime}}
					{{else}}
						{{:assign end_date="%d+86400"|math:$closing.end|date:'Y-m'}}
						{{:assign timestamp="%s, %s %s, %s"|args:$end_date:$slot.frequency:$slot.day:$slot.open|strtotime}}
					{{/if}}
				{{/if}}
			{{/foreach}}
		{{/if}}

		{{:assign this_date=$timestamp|date:"Y-m-d"}}
		{{:assign this_datetime=$timestamp|date:"Y-m-d H:i"}}

		{{:assign count=0}}
		{{if $slot.key}}
			{{#load count=true slot=$slot.key date=$this_datetime}}
				{{:assign count=$count}}
			{{/load}}
		{{else}}
			{{#load count=true where="$$.slot IS NULL" date=$this_datetime}}
				{{:assign count=$count}}
			{{/load}}
		{{/if}}

		{{:assign available="max(0, %d-%d)"|math:$slot.seats:$count}}

		{{if $available > 0 && $slots_available === false}}
			{{:assign slots_available=true}}
		{{/if}}

		{{if $this_date != $last_date}}
			{{if $last_date}}
					</dl>
				</article>
			{{/if}}
			{{:assign last_date=$this_date}}
			<article>
				<h3>{{$timestamp|date_long}}</h3>
				<dl>
		{{/if}}

		{{if !$available}}
			{{:assign disabled=true}}
		{{else}}
			{{:assign disabled=false}}
		{{/if}}

		{{if $available == 1}}
			{{:assign label="1 place disponible"}}
		{{else}}
			{{:assign label="%d places disponibles"|args:$available}}
		{{/if}}

		{{:input type="radio-btn" name="slot" value="%s=%s"|args:$slot.key:$this_datetime label=$timestamp|date_hour disabled=$disabled help=$label class="available_%d"|args:$available}}
	{{/foreach}}

	{{if $last_date}}
		</dl>
	</article>
	{{/if}}

	</fieldset>

	{{if $slots_available}}
		<fieldset class="info">
			<legend>Informations</legend>
			<article>
			<dl>
				{{:input type="text" name="name" label="Prénom et nom" required=true default=$logged_user._name onfocus="this.select()"}}
				{{if !$event.email}}
					{{:input type="checkbox" name="notify" value="1" label="Recevoir une confirmation d'inscription par e-mail" onchange="g.toggle('dl.email', this.checked);" help="facultatif"}}
				{{/if}}
			</dl>
			{{if !$event.email && !$_POST.email}}
				{{:assign email_hidden=true}}
				{{if $logged_user._email}}
					{{:assign email_disabled=true}}
				{{/if}}
			{{/if}}
			<dl class="email{{if $email_hidden}} hidden{{/if}}">
				{{:input type="email" name="email" label="Adresse e-mail" required=true help="Une confirmation d'inscription vous sera envoyée à cette adresse" default=$logged_user._email onfocus="this.select()" onkeyup="g.toggle('.mycaptcha', this.value != '');" disabled=$email_disabled}}
			</dl>
			<dl>
				{{#foreach from=$event.fields key="i" item="field"}}
					{{if $field.type == 'checkbox'}}
						{{:assign value="Coché"}}
					{{else}}
						{{:assign value=null}}
					{{/if}}
					{{:input name="fields[%d]"|args:$i label=$field.label type=$field.type help=$field.help required=$field.required value=$value}}

				{{/foreach}}
			</dl>
			</article>
		</fieldset>

		{{if !$logged_user}}
			<div class="mycaptcha{{if !$_POST.email}} hidden{{/if}}"><h4>Vérification contre les robots</h4>{{:captcha html=true}}</div>
		{{/if}}
		<p class="submit">
			{{:button type="submit" name="book" label="Confirmer la réservation" shape="right" class="main"}}
		</p>
	{{else}}
		<p class="alert block">Aucun créneau n'est disponible.</p>
	{{/if}}

	</form>
{{/if}}