{{#restrict section="config" level="admin" block=true}}{{/restrict}}

{{if $_GET.id}}
	{{#load key=$_GET.id assign="event"}}{{/load}}
{{/if}}

{{if !$event.key}}
	{{:error message="Événément introuvable"}}
{{/if}}

{{:admin_header title="%s — Créneaux"|args:$event.label}}

<nav class="tabs">
	<aside>{{:linkbutton shape="plus" label="Nouveau créneau" href="edit_slot.html?new=%s"|args:$event.key}}</aside>
	{{:linkbutton shape="left" label="Retour" href="config.html"}}
</nav>

{{if $_GET.ok}}
	<p class="block confirm">Créneaux enregistrés.</p>
{{/if}}

{{:include file="./_common.tpl" keep="frequencies,days"}}

{{#load count=true where="$$.type = 'slot' AND $$.event = :event" :event=$event.key}}
	{{if $count}}
		<table class="list">
			<tbody>
			{{#load where="$$.type = 'slot' AND $$.event = :event" :event=$event.key order="$$.date, $$.day, $$.open"}}
				<tr>
					<th>
						{{if $date}}
							{{$date|date_short}}
						{{else}}
							{{:assign var="f" from="frequencies.%s"|args:$frequency}}
							{{:assign var="d" from="days.%s"|args:$day}}
							{{$f}}
							{{$d}}
						{{/if}}
						{{if $close}}
							de {{$open}} à {{$close}}
						{{else}}
							à {{$open}}
						{{/if}}
					</th>
					<td>
						{{$seats}} places
					</td>
					<td class="actions">
						{{:linkbutton label="Modifier" href="config_slot.html?id=%s"|args:$key shape="edit"}}
						{{:linkbutton label="Supprimer" href="config_delete_slot.html?id=%s"|args:$key shape="delete"}}
					</td>
				</tr>
			{{/load}}
			</tbody>
		</table>

	{{else}}

		<p class="alert block">
			Il n'y a aucun créneau configuré.<br />
			{{:linkbutton shape="plus" label="Nouveau créneau" href="config_slot.html?new=%s"|args:$event.key}}
		</p>

	{{/if}}
{{/load}}

{{:admin_footer}}