{{:assign var="custom_css." value="./style.css?2023-11-14"}}
{{:assign var="custom_css." value="/content.css"}}
{{if !$logged_user}}{{:assign layout="public"}}{{/if}}
{{:admin_header title="Réservations" custom_css=$custom_css layout=$layout current="module_bookings"}}

{{if $logged_user}}
	{{:include file="./_nav.html" current="index"}}
{{/if}}

{{:include file="./_form.html" current="index"}}

{{if !$logged_user}}
<footer>
	<p class="back">
		{{:linkbutton shape="left" label="Retourner sur notre site" href=$site_url}}
	</p>
</footer>
{{/if}}

{{:admin_footer}}