<nav class="tabs">
	<aside>
	{{if $current === 'stats'}}
		{{:exportmenu right=true}}
	{{elseif $current === 'config' && $config === 'category'}}
		{{:linkbutton shape="plus" href="edit.html?key=new" label="Ajouter une catégorie"}}
	{{elseif $current === 'config' && $config === 'object'}}
		{{:linkbutton shape="plus" href="edit.html?key=new" label="Ajouter un type d'objet"}}
	{{/if}}
	</aside>
	<ul>
		<li{{if $current === 'entry'}} class="current"{{/if}}><a href="{{$module.url}}">Entrée</a></li>
		<li{{if $current === 'exit'}} class="current"{{/if}}><a href="./?type=exit">Sortie</a></li>
		<li{{if $current === 'history'}} class="current"{{/if}}><a href="{{$module.url}}history.html">Historique</a></li>
		<li{{if $current === 'stats'}} class="current"{{/if}}><a href="{{$module.url}}stats.html">Statistiques</a></li>
	{{if $module.config.caisse_exit|count || $module.config.velos_exit|count || $module.config.velos_entry|count}}
		<li{{if $current === 'sync'}} class="current"{{/if}}><a href="{{$module.url}}sync.html">Import extensions</a></li>
	{{/if}}
	{{#restrict section="config" level="admin"}}
		<li{{if $current === 'config'}} class="current"{{/if}}><a href="{{$module.url}}config.html">Configuration</a></li>
	{{/restrict}}
	</ul>

	{{if $current === 'stats'}}
		<ul class="sub">
			<li{{if $type === 'entry'}} class="current"{{/if}}>{{:link href="?period=%s&type=entry"|args:$period label="Entrées"}}</li>
			<li{{if $type === 'exit'}} class="current"{{/if}}>{{:link href="?period=%s&type=exit"|args:$period label="Sorties"}}</li>
			<li{{if $type === 'declare'}} class="current"{{/if}}>{{:link href="?type=declare" label="Déclaration Ecologic"}}</li>
		</ul>
		{{if $type !== 'declare'}}
		<ul class="sub">
			<li{{if $period === 'quarter'}} class="current"{{/if}}>{{:link href="?period=quarter&type=%s"|args:$type label="Par trimestre"}}</li>
			<li{{if $period === 'year'}} class="current"{{/if}}>{{:link href="?period=year&type=%s"|args:$type label="Par année"}}</li>
		</ul>
		{{/if}}
	{{elseif $current === 'config'}}
		<ul class="sub">
			<li{{if $config === 'main'}} class="current"{{/if}}><a href="{{$module.url}}config.html">Configuration</a></li>
			<li{{if $config === 'category'}} class="current"{{/if}}><a href="{{$module.url}}config/list.html?type=category">Catégories</a></li>
			<li{{if $config === 'object'}} class="current"{{/if}}><a href="{{$module.url}}config/list.html?type=object">Types d'objets</a></li>
		</ul>
	{{/if}}
</nav>
