{{* -*- brindille -*- *}}

{{#restrict block=true section="accounting" level="write"}}{{/restrict}}

{{#form on="save"}}
	{{* vérifier la validité de la durée saisie *}}
	{{if $_POST.loan_duration < 0}}
		{{:error message="Durée (%s) erronée ; doit être >= 0"|args:$_POST.loan_duration}}
	{{/if}}

	{{:save
		key="config"
		loan_duration=$_POST.loan_duration
	}}

{{/form}}

{{:admin_header title="Configuration" current="module_equipment"}}
{{:include file="../_nav.html" current="config" subcurrent="divers"}}
{{:form_errors}}

{{if $_GET.ok}}
	<p class="block confirm">Configuration enregistrée.</p>
{{/if}}

{{* lecture config *}}
{{:include file="../_get_config.html" keep="loan_duration"}}

<form method="post" action="" data-focus="1">
	<fieldset>
		<legend>Autres paramètres</legend>
		<dl>
			{{:input type="number" name="loan_duration" label="Durée de prêt par défaut" min=0 default=$module.config.loan_duration help="Durée en nombre de jours ; mettre 0 pour supprimer la durée par défaut"}}
		</dl>
	</fieldset>
	<p class="submit">
		{{:button type="submit" name="save" label="Enregistrer" shape="right" class="main"}}
	</p>
</form>
{{:admin_footer}}
