{{* -*- brindille -*- *}}

{{* barre de navigation *}}
{{if ! $dialog}}
	{{:include file="../_nav.html" current="entrees"}}
{{/if}}

{{* récupérer la config des entrées/sorties *}}
{{:include file="../_get_config.html" keep="config"}}

{{* types d'entrées *}}
{{#foreach from=$config.input_nature key=key}}
	{{if $type != 'retour'}}
		{{:assign var="input_labels.%s"|args:$key value=$label}}
	{{/if}}
{{/foreach}}

{{* lister les catégories et les matériels disponibles *}}
{{#load type="category" assign="category" order="$$.name"}}
	{{*:assign nom_cat=$category.name*}}
	{{:assign var="categories.%s"|args:$category.key value=$category.name}}
{{/load}}

{{* Traiter l'envoi du formulaire *}}
{{#form on="save"}}

	{{* vérifier la quantité saisie *}}
	{{if $_POST.amount <= 0}}
		{{:error message="La quantité (%s) doit être strictement positive !!"|args:$_POST.amount}}
	{{/if}}

	{{* interdire date dans le futur *}}
	{{if $_POST.date|parse_date|strtotime > $now}}
		{{:error message="Impossible de saisir une date dans le futur (%s)"|args:$_POST.date}}
	{{/if}}

	{{* vérifier l'existence d'un matériel de même nom *}}
	{{#load type="equipment" where="$$.name = :name COLLATE U_NOCASE" :name=$_POST.name|trim limit=1 assign="equipment"}}
		{{:assign present=true}}
	{{/load}}
	{{:assign var=nom_cat from="categories.%s"|args:$equipment.category}}
	{{:assign var=post_cat from="categories.%s"|args:$_POST.category}}
	{{:assign post_mat=$_POST.name|trim}}
	{{:assign var="type_mvt" from="config.input_nature.%s.type"|args:$_POST.operation}}

	{{if $present}}
		{{* voir si le matériel existe dans une autre catégorie *}}
		{{if $nom_cat != $post_cat}}
			{{:error message="Le matériel « %s » est déjà présent dans la catégorie « %s » ..."|args:$post_mat:$nom_cat}}
		{{/if}}
		{{* calculer la nouvelle quantité du matériel *}}
		{{if $type_mvt == 'définitif'}}
			{{:assign var="equipment.stock" value="%d+%d"|math:$equipment.stock:$_POST.amount|intval}}
		{{elseif $type_mvt == 'temporaire'}}
			{{:assign var="equipment.notowned" value="%d+%d"|math:$equipment.notowned:$_POST.amount|intval}}
		{{/if}}
		{{:assign equipment_key=$equipment.key}}
		{{:save
			key=$equipment_key
			validate_schema="../equipment.schema.json"
			type="equipment"
			category=$_POST.category
			name=$post_mat
			status="available"
			stock=$equipment.stock
			out=$equipment.out
			notowned=$equipment.notowned
		}}
	{{else}}
		{{* enregistrer un nouveau matériel *}}
		{{:assign equipment_key=""|uuid}}
		{{if $type_mvt == 'définitif'}}
			{{:assign stock=$_POST.amount|intval}}
			{{:assign notowned=null}}
		{{elseif $type_mvt == 'temporaire'}}
			{{:assign notowned=$_POST.amount|intval}}
			{{:assign stock=null}}
		{{/if}}
		{{:save
			key=$equipment_key
			validate_schema="../equipment.schema.json"
			type="equipment"
			category=$_POST.category
			name=$post_mat
			status="available"
			stock=$stock
			out=0
			notowned=$notowned
		}}
	{{/if}}
	{{* Enregistrer le mouvement *}}
	{{:assign mvt_key=""|uuid}}
	{{:assign var="operation" from="input_labels.%d"|args:$_POST.type_operation}}
	{{:save
		key=$mvt_key
		validate_schema="./movement.schema.json"
		type="movement"
		direction="input"
		operation=$_POST.operation
		amount=$_POST.amount|intval
		equipment=$equipment_key
		date=$_POST.date|parse_date
		comment=$_POST.remarques|trim
		storage=$_POST.storage
	}}

	{{if $type_mvt == "temporaire"}}
		{{:assign prop=0}}
	{{else}}
		{{:assign prop=1}}
	{{/if}}
	{{:redirect force="../index.html?prop=%s&ok=1&msg=ajout"|args:$prop}}
{{/form}}

{{:admin_header title="Entrée de matériel" current="module_equipment"}}
{{:form_errors}}

{{if $categories != null}}
	{{#load type="storage" order="$$.name"}}
		{{:assign var="storage.%s"|args:$key value=$name}}
	{{/load}}

	{{* formulaire ajout matériel *}}
	<form method="post" action="">

		<fieldset class="entree">
			<legend>Enregistrer une entrée de matériel</legend>
			<dl>
			{{:input type="select" name="operation" label="Type" required=true default_empty="— Aucun —" options=$input_labels|sort}}
			{{:input type="date" name="date" label="Date" required=true default=$now|date_short}}
			{{:input type="number" name="amount" label="Quantité" min=1 required=true default=1}}
			</dl>
		</fieldset>

		<fieldset>
			<legend>Sélectionner une catégorie et indiquer le nom du nouveau matériel</legend>
			<dl>
				{{:input type="select" name="category" label="Catégorie" default_empty="— Aucune —" options=$categories required=true}}
				{{:input type="text" name="name" label="Désignation" required=true}}
				{{if $storage != null}}
					{{:input type="select" name="storage" label="Lieu de stockage" default_empty="— Aucun —" options=$storage required=false}}
				{{/if}}
				{{:input type="textarea" name="remarques" label="Remarques" cols="40", rows="3" required=false}}
			</dl>
		</fieldset>

		<p class="submit">
			{{:button type="submit" name="save" label="Enregistrer" shape="right" class="main"}}
		</p>

	</form>
{{else}}
	<p class="block error">Il n'y a aucune catégorie, il faut en créer au moins une</p>
{{/if}}
{{:admin_footer}}
