{{* -*- brindille -*- *}}

{{*
	inventaire des entrées/sorties des matériels permanents
*}}

{{* filtrer selon la catégorie *}}
{{if $_GET.cat_key == null}}
	{{:assign selected_category=$module.config.stock_cat_key}}
	{{if $module.config.stock_cat_key != null}}
		{{:assign cat_key=$selected_category|quote_sql}}
	{{/if}}
{{elseif $_GET.cat_key == -1}}
	{{:assign selected_category=null}}
	{{:save key="config" stock_cat_key=null}}
{{else}}
	{{:assign selected_category=$_GET.cat_key}}
	{{:assign cat_key=$selected_category|quote_sql}}
	{{:save key="config" stock_cat_key=$selected_category}}
{{/if}}

{{* condition de filtrage *}}
{{if $selected_category != null}}
	{{:assign cat_condition="$$.category = %s"|args:$cat_key}}
{{else}}
	{{:assign cat_condition="1"}}
{{/if}}

{{* Sélecteur catégories *}}
{{:assign var="cat_options." value="" label="Toutes les catégories" href="?cat_key=-1&prop=1"}}
{{#load type="category" order="$$.name"}}
	{{:assign var="categories.%s"|args:$key value=$name}}
	{{:assign
		var="cat_options."
		value=$key
		label=$name
		href="?cat_key=%s&prop=1"|args:$key
	}}
{{/load}}

<fieldset class="shortFormRight">
	<legend>Filtrer par catégorie</legend>
	{{:dropdown
		title="Filtrer par catégorie"
		options=$cat_options
		value="%s"|args:$selected_category
	}}
</fieldset>

<div class="shortFormLeft">
	<p class="help">Inventaire des matériels propriété de l'association</p>
</div>

{{#list
	select="
	$$.name AS 'Matériel' ;
	(SELECT $$.name
		FROM @TABLE as cat
		WHERE cat.key = @TABLE.$$.category) AS 'Catégorie' ;
	$$.stock AS 'Stock' ;
	$$.out AS 'Sorti' ;
	(SELECT $$.stock - $$.out) AS 'Disponible'
	"
	type="equipment"
	where="$$.status <> 'archived' AND $$.stock NOT NULL AND %s"|args:$cat_condition
	order=1
	}}
	{{:assign var=cat_name from=categories.%s|args:$category}}
	<tr>
		<td>{{:link href="equipment_history.html?key=%s&prop=1"|args:$key" label=$name}}</td>
		<td>{{$cat_name}}</td>
		<td class="num">{{$stock}}</td>
		<td class="num">{{$out}}</td>
		<td class="num">{{$col5}}</td>
		<td class="actions">
			{{if $col5 > 0}}
				{{:linkbutton
				label="Sortie"
				shape="minus"
				href="movements/output_equipment.html?key=%s"|args:$key
				target="_dialog"}}
			{{/if}}
			{{:linkbutton
			label="Entrée"
			shape="plus"
			href="movements/input_equipment.html?key=%s"|args:$key
			target="_dialog"}}
 			{{:linkbutton
			label="Historique"
			href="equipment_history.html?key=%s&prop=1"|args:$key
			shape="table"}}
			{{:linkbutton
			label="Modifier"
			href="modify_equipment.html?key=%s&prop=1"|args:$key
			shape="edit"
			target="_dialog"}}
		</td>
	</tr>
{{else}}
	<p class="block alert">Aucun matériel.</p>
{{/list}}

<script type="text/javascript" src="scripts.js"></script>
<script type="text/javascript">
(function () {
	let table = document.querySelector("table[class=list]");
	if (table != null) {
		disableColumSort(table);
	}
})();
</script>
