{{if $_GET.print === 'pdf'}}
	{{:http type="pdf" download="%s.pdf"|args:$title}}
{{/if}}
<!DOCTYPE html>
<html>
<head>
	<title>{{$title}}</title>
	<link rel="stylesheet" type="text/css" href="{{$root_uri}}m/receipt/form.css?{{$version_hash}}" />
	<style type="text/css">
	{{if $page_size}}
	@media print {
		@page {
			size: {{$page_size}};
		}
	}
	{{/if}}

	{{if $page_size == 'A5'}}
	@media screen {
		#page {
			width: 148mm;
			height: 210mm;
		}
	}
	{{/if}}
	{{$css}}
	</style>
</head>

<body>

{{if !$_GET.print && !$hide_buttons}}
<div id="buttons">
	{{if $back_link && !$dialog}}
		{{:linkbutton href=$back_link label="Retour" shape="left"}}
	{{/if}}
	{{:linkbutton href="%s&print=yes"|args:$request_url label="Imprimer" target="_blank" shape="print"}}
	{{if $pdf_enabled}}
	{{:linkbutton href="%s&print=pdf"|args:$request_url label="Télécharger en PDF" shape="download"}}
	{{/if}}
	{{$buttons|raw}}
</div>
{{/if}}

{{if !$no_page}}
	{{:include file="./_org_header.html" hide_header=$hide_header}}
{{/if}}