<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<title>{{if $title}}{{$title}} — {{/if}}{{$config.org_name}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, target-densitydpi=device-dpi" />
	<style type="text/css">
	:root {
		{{:assign color1=$module.config.color1|or:$config.color1|or:"#999999"|css_hex_extract_hsv}}
		{{:assign color2=$module.config.color2|or:$config.color2|or:"#333333"|css_hex_extract_hsv}}
		--first-color: {{$color1.h}};
		--second-color: {{$color2.h}};
	}
	</style>
	<link rel="stylesheet" type="text/css" href="{{$root_url}}default.css?h={{$version_hash}}" media="screen,projection,handheld" />
	<link rel="stylesheet" type="text/css" href="{{$root_url}}content.css?h={{$version_hash}}" media="all" />
	<link rel="stylesheet" type="text/css" href="{{$root_url}}print.css?h={{$version_hash}}" media="print" />
	<link rel="alternate" type="application/atom+xml" title="{{$config.org_name}}" href="{{$root_url}}atom.xml" />
	<link rel="icon" type="image/png" href="{{$config.files.favicon}}" />
	<meta property="og:title" content="{{if $title}}{{$title}} — {{/if}}{{$config.org_name}}" />
	<meta property="og:site_name" content="{{$config.org_name}}" />

	{{if $config.files.logo}}
		<meta property="og:image" content="{{$config.files.logo}}" />
	{{/if}}
</head>

<body class="layout-{{$module.config.layout|or:"2col"}}">

<header class="nav">
	<nav>
		<ul>
			<li class="current"><a href="{{$root_url}}">{{$config.org_name}}</a></li>
			<li><a href="{{$admin_url}}">Connexion</a></li>
		</ul>
	</nav>
</header>

<main>

<header class="main{{if $home}} home{{/if}}">
	<h1>
		<a href="{{$root_url}}">
		{{if $config.files.logo}}
			<img src="{{$config.files.logo}}" alt="{{$config.org_name}}" class="logo" />
		{{else}}
			<span>{{$config.org_name}}</span>
		{{/if}}
		</a>
	</h1>

	{{if $config.org_address || $config.org_phone || $config.org_email}}
		<article class="contacts">
			{{if $config.files.logo}}
			<h3>{{$config.org_name}}</h3>
			{{/if}}
			{{if $config.org_address}}
				<h4>{{$config.org_address|escape|nl2br}}</h4>
			{{/if}}
			{{if $config.org_phone}}
				<h5>{{$config.org_phone|raw|protect_contact:'tel'}}</h5>
			{{/if}}
			{{if $config.org_email}}
				<h5>{{$config.org_email|raw|protect_contact}}</h5>
			{{/if}}
		</article>
	{{/if}}
</header>

<nav class="main">

{{#module name="bookings"}}
	<p class="booking-btn">
		<a href="{{$url}}" target="_blank"><span></span><b>Réserver un créneau</b></a>
	</p>
{{/module}}

	<form method="get" action="{{ $root_url }}search.html" class="search-widget">
		<p>
			<input type="search" name="search" placeholder="Rechercher…" value="{{ $_GET.search }}" />
			<input type="submit" value="&rarr;" title="Lancer la recherche" />
		</p>
	</form>

	<ul class="subcategories">
	{{#categories parent=null order="title"}}
		<li><a href="{{$url}}" {{if $url == $.url}}class="current"{{/if}}>{{ $title }}</a></li>
	{{/categories}}
	</ul>


	{{#module name="openings"}}
	<article class="opening-hours">
		{{:include file="/openings/_all.html"}}
	</article>
	{{/module}}


</nav>

<section class="page">
