{{:admin_header title="Configuration du site web"}}

{{#form on="save"}}
	{{:save key="config"
		color1=$_POST.color1|trim|or:null
		color2=$_POST.color2|trim|or:null
		layout=$_POST.layout|trim|or:null
		background=$_POST.background|trim|or:null
		show_address=$_POST.show_address|boolval
		show_email=$_POST.show_email|boolval
		show_phone=$_POST.show_phone|boolval
		show_marker=$_POST.show_marker|boolval
	}}
	{{:redirect to="?ok=1"}}
{{/form}}

{{if $_GET.ok}}
	<p class="block confirm">Configuration enregistrée.</p>
{{/if}}

{{:form_errors}}

<form method="post" action="">

{{:assign var="layouts"
	2col="Classique — 2 colonnes"
	1col="Classique — 1 colonne"
	wide="Large — 2 colonnes"
}}

{{:assign var="backgrounds"
	gradient="Dégradé entre les deux couleurs"
	white_gradient="Dégradé couleur primaire — blanc"
	white="Blanc"
	gray="Blanc et gris"
	dark="Sombre"
}}

<style type="text/css">
#preview {
	width: 500px;
	height: 400px;
	overflow: hidden;
	float: right;
	margin: 1em;
	border: 2px solid #ccc;
}
iframe {
	border: none;
    transform: scale(0.5);
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    overflow: hidden;
    pointer-events: none;
}
</style>

{{if $config.site_disabled}}
<p class="block alert">Le site est actuellement désactivé.</p>
{{else}}
<div id="preview">
	<iframe src="{{$site_url}}?dezoom=1" width="1000" height="800" scrolling="no"></iframe>
</div>
{{/if}}

<fieldset>
	<legend>Configuration du site web</legend>
	<dl>
		{{:input type="select" name="layout" label="Disposition sur grand écran" required=true default="2col" options=$layouts help="Sur petit écran (mobile), la disposition reste sur une colonne" source=$module.config}}
		{{:input type="color" name="color1" default=$config.color1 label="Couleur primaire" required=false source=$module.config}}
		{{:input type="color" name="color2" default=$config.color2 label="Couleur secondaire" required=false source=$module.config}}
		{{:input type="select" name="background" options=$backgrounds label="Couleur de fond" required=true source=$module.config}}
		{{if $config.org_address || $config.org_email || $config.org_phone}}
			<dt>Informations à afficher sur le site</dt>
			{{if $config.org_address}}
				{{:input type="checkbox" name="show_address" value=1 label="Adresse physique" source=$module.config default=1}}
				{{:input type="checkbox" name="show_marker" value=1 label="Lien pour ouvrir l'adresse sur une carte" source=$module.config default=1}}
			{{/if}}
			{{if $config.org_phone}}
				{{:input type="checkbox" name="show_phone" value=1 label="Numéro de téléphone" source=$module.config default=1}}
			{{/if}}
			{{if $config.org_email}}
				{{:input type="checkbox" name="show_email" value=1 label="Adresse e-mail" source=$module.config default=1}}
			{{/if}}
		{{/if}}
	</dl>
</fieldset>

<p class="submit">
	{{:button type="submit" name="save" label="Enregistrer" shape="right" class="main"}}
</p>

<script type="text/javascript">
function rgbToHsl(r, g, b){
    r /= 255, g /= 255, b /= 255;
    var max = Math.max(r, g, b), min = Math.min(r, g, b);
    var h, s, l = (max + min) / 2;

    if(max == min){
        h = s = 0; // achromatic
    }else{
        var d = max - min;
        s = l > 0.5 ? d / (2 - max - min) : d / (max + min);
        switch(max){
            case r: h = (g - b) / d + (g < b ? 6 : 0); break;
            case g: h = (b - r) / d + 2; break;
            case b: h = (r - g) / d + 4; break;
        }
        h /= 6;
    }

    return [h, s, l];
}

function getHue(color) {
	var r = parseInt(color.substr(1,2), 16);
	var g = parseInt(color.substr(3,2), 16);
	var b = parseInt(color.substr(5,2), 16);
	return Math.floor(rgbToHsl(r, g, b)[0] * 360);
}

function updateColors() {
	var color1 = $('#f_color1').value;
	var color2 = $('#f_color2').value;
	console.log(color1, color2);
	color1 = getHue(color1);
	color2 = getHue(color2);
	console.log(color1, color2);

	var doc = $('#preview iframe')[0].contentWindow.document;
	doc.body.style = `--first-color: ${color1}; --second-color: ${color2};`;
}

$('#f_layout').onchange = (e) => {
	var layout = e.target.value;
	var doc = $('#preview iframe')[0].contentWindow.document;
	doc.body.className = doc.body.className.replace(/\s*layout-\w+|$/, ' layout-' + layout);
}

$('#f_background').onchange = (e) => {
	var bg = e.target.value;
	var doc = $('#preview iframe')[0].contentWindow.document;
	doc.body.className = doc.body.className.replace(/\s*bg-\w+|$/, ' bg-' + bg);
}

$('#f_color1').oninput = updateColors;
$('#f_color2').oninput = updateColors;

</script>

</form>

{{:admin_footer}}