/**
 * Ce fichier contient les styles CSS qui s'appliquent au site public.
 */

/* CSS RESET */
body, form, p, div, hr, fieldset, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1  { font-size: 2em; }
h2  { font-size: 1.5em; }
h3  { font-size: 1.2em; }
h4  { font-size: 1em; }
h5  { font-size: 0.9em; }
h6  { font-size: 0.8em; }
ul, ol { list-style-type: none; }
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }


/* Modifications du style pour les grands écrans */
@media screen and (min-width: 981px) {
    /* DISPOSITION GÉNÉRALE DE LA PAGE */
    main {
        max-width: 950px;
        margin: 0 auto;
        display: grid;
    }

    .layout-2col main {
        grid-gap: 1em;
        grid-template-columns: 1.4fr 0.6fr;
        grid-template-areas:
            "header header"
            "content nav"
    }

    .layout-wide main {
        max-width: 1100px;
        grid-gap: 1em;
        grid-template-columns: 18em 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "header content"
            "nav content";
        align-items: flex-start;
        padding: 0 1em;
    }

    .layout-wide header.main {
        grid-area: header;
        display: flex;
        grid-gap: 1em;
        flex-direction: column;
    }

    .layout-wide section.page {
        background: #fff;
        border-radius: 0 0 .5em .5em;
        padding: 1em;
    }

    header.main h1 a img {
        max-height: 300px;
    }

    .layout-2col header.main {
        grid-area: header;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1.4fr 0.6fr;
    }

    nav.main { grid-area: nav; }
    section.page { grid-area: content; }

    header.main h1, header.main .contacts, nav.main {
        background: #fff;
        padding: 1em;
        border-radius: .5em
    }

    .layout-2col header.main .contacts {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    header.main h1 {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 0;
    }

    .layout-wide header.main h1 {
        font-size: 1.2em;
    }

    .layout-2col section.page article {
        margin-bottom: 1em;
        padding: 1em;
        background: #fff;
        clear: both;
        border-radius: .5em;
    }

    .layout-wide .breadcrumbs {
        margin: 1em 0;
        text-align: left;
    }

    .layout-wide section.articles article {
        margin: 1em 0;
        padding-bottom: 1em;
        border-bottom: 2px solid #ccc;
    }

    .layout-wide section.page > h1 {
        text-align: left;
    }
}


/* CORPS */
body {
    font-size: 100.01%;
    color: #000;
    font-family: "Trebuchet MS", Helvetica, Sans-serif;
    background: #eee;
    background: hsl(var(--first-color), 50%, 90%);
    background: linear-gradient(200deg, hsl(var(--first-color), 50%, 90%) 20%, hsl(var(--second-color), 30%, 90%) 70%);
    min-height: 100vh;
}

/* ENTÊTE AVEC LOGO ET CONTACTS */
header.main h1 {
    padding: 0;
    background: none;
    border-radius: 0;
}

header.main h1 a {
    display: flex;
    padding: 1rem;
    background: #fff;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    text-decoration: none;
    height: calc(100% - 2rem);
    align-items: center;
    justify-content: center;
}

header.main h1 a img {
    max-width: 100%;
}

header.main h1 a span {
    font-size: 1.5em;
    font-weight: normal;
    color: hsl(var(--second-color), 30%, 30%);
    display: block;
}

header.main h1 a:hover span {
    color: hsl(var(--second-color), 50%, 50%);
}

header.main h1 a:hover img {
    opacity: 0.8;
}

header.main.home h1 a span {
    font-size: 2em;
}

header.main .contacts {
    font-size: 1.3em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

/* NAVIGATION EN HAUT DE LA PAGE (ACCUEIL/CONNEXION) */
header.nav {
    background: #ddd;
    border-bottom: 1px solid #ccc;
}

header.nav ul {
    display: flex;
    justify-content: center;
    padding-top: .2em;
}

header.nav li a {
    padding: .1em .5em;
    color: #666;
    text-decoration: none;
    font-size: .9em;
    margin: 0 1em;
}

header.nav li.current a {
    background: #fff;
    border-radius: .3em .3em 0 0;
}

header.nav li a:hover {
    color: #000;
}

/* LISTE DES CATÉGORIES RACINES */
section.page .subcategories {
    text-align: center;
    margin: 2em 0;
}

.subcategories li {
    font-size: 1.2em;
    margin: .8em 0;
    padding: 0;
}

.subcategories li a {
    margin: 0;
    padding: .2em .5em;
    color: #006;
    text-decoration: underline;
    background: #ddd;
    background: hsl(var(--first-color), 60%, 80%);
    border-radius: .5rem;
    display: inline-block;
    transition: background-color .2s, color .2s;
}

nav.main .subcategories {
    margin: 0 -1em 1em -1em;
}

nav.main .subcategories li {
    margin: 0;
}

nav.main .subcategories li a {
    padding: .5em 1em;
    display: block;
    border-radius: 0;
    border-bottom: 2px solid hsl(var(--first-color), 50%, 85%);
    background: none;
}

nav.main .subcategories li:first-child a {
    border-top: 2px solid hsl(var(--first-color), 50%, 85%);
}

section.page .subcategories li a {
    background: #fff;
}

.subcategories li a:hover {
    color: darkred;
    background: #eee;
    background: hsl(var(--second-color), 50%, 90%) !important;
}

/* Formulaire de recherche */
::target-text {
    background: #ff0;
    padding: .2em;
}

.search-widget p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    height: 2em;
}

.search-widget input {
    font-size: 1.2em;
    padding: .2em .5em;
    border: 1px solid #999;
    border-radius: .3rem;
    line-height: 1rem;
    width: 100%;
    height: 100%;
}

.search-widget input[type=submit] {
    color: #fff;
    border-radius: 0 .5rem .5rem 0;
    border-left: none;
    cursor: pointer;
    text-indent: -70em;
    overflow: hidden;
    background: #ccc no-repeat center center;
    width: 1.5em;
    height: 100%;
    margin-left: -.4rem;
    background-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 4a6 6 0 1 0 0 12 6 6 0 0 0 0-12zm-8 6a8 8 0 1 1 14.32 4.906l5.387 5.387a1 1 0 0 1-1.414 1.414l-5.387-5.387A8 8 0 0 1 2 10z" fill="%23666"/></svg>');
}

/* PIED DE PAGE */
footer.main {
    color: #666;
    margin: 1em;
    text-align: center;
}

footer.main a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

footer.main a:hover {
    color: #006;
    text-decoration: underline;
}

footer.main a#paheko {
    padding-left: 36px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAWBAMAAABTd4N3AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAAlwSFlzAAAAdgAAAHYBTnsmCAAAADBQTFRFBUqmR3BMAwl4KZDEBD2dATCVBy+TJU6mC2y1BCWU/v//m7jbUXC3c53NvtPp3ur1QHGW/AAAAAh0Uk5T/gD6+WqzLO5BK691AAABR0lEQVQY02MQhAKRcIbyECDNAOMrMXR0dLTABcSCJnAABTjLYAIOmkB+swUDO1QglXNG8yogWHcgECwgwjCT23jXqvX/V61hY3BJFHPVnFnAd6N/1QOGU+tZGCJncirNPHmu7wfvqscW3avaGTKBApUPTp1e27HqRUfvqgMMohNqzux4W7VnNcevFx28qxoYRCZVnr59ftbn/x2vXnT0r2dgEFSaW8MzV+dAb8erv7d/rWFnEHTS3HOaW/vl645XQIfcYGUQFFVg+LOvau9q41+/d99gYGEQFNNk2LTmVv1i41UvOGfOnAZ0adLMOTdfn3psu+oFw8yZIKeLTZqj9GDX5b5VDzo4ZzqC/JKkpDTztYUV0GEdrRDfBikpXQBa8qJhgiFEQCxy5kyGu3cvW7DCQkwkknMCR7OxsSMiTFNCmY1NEoEMABmgiBzVXBbdAAAAAElFTkSuQmCC") no-repeat left center;
    min-height: 22px;
    display: inline-block;
}

/* CHEMIN VERS L'ARTICLE (BREADCRUMBS), affiche les catégories parentes */
.breadcrumbs {
    margin-bottom: 1em;
    text-align: center;
}

.breadcrumbs ul {
    margin: 0;
}

.breadcrumbs ul li {
    display: inline-block;
}

.breadcrumbs ul li::before {
    content: "»";
    color: #999;
    margin: .5em;
}

.breadcrumbs ul li:nth-child(1)::before {
    display: none;
}

.breadcrumbs a {
    color: #666;
}


/* MESSAGES ALERTE ET ERREUR (par exemple : page non trouvée) */
.error {
    border-bottom: .2em solid #c00;
    border-radius: .5em;
    background: #fcc;
    padding: .5em;
    margin-bottom: 1em;
    font-size: 1.2em;
    color: #900;
}

.alert {
    border-bottom: .2em solid #cc0;
    border-radius: .5em;
    background: #ffc;
    padding: .5em;
    margin-bottom: 1em;
    font-size: 1.2em;
    color: #660;
}

/* AFFICHAGE D'UN ARTICLE */
section.articles article h3, section.articles article h1 {
    margin-bottom: .3em;
}

section.articles article::after, article.single::after {
    content: "";
    display: block;
    height: 0px;
    clear: both;
}

section.articles article h1 a {
    color: #000;
    text-decoration: none;
    font-weight: normal;
}

section.articles article h3 a {
    color: #009;
    font-weight: normal;
}

section.articles article h3 a:visited {
    color: #669;
}

section.articles article h5 {
    color: #666;
    font-weight: normal;
    font-size: .8em;
    margin-bottom: .3em;
}

section.page > h1 {
    text-align: center;
    margin-bottom: 1em;
}

/* CONTENU DE L'ARTICLE */
article > h4 {
    margin-bottom: 1em;
    color: #666;
    font-weight: normal;
}

article ul, article ol, article blockquote {
    margin-left: 2em;
}

article ul {
    list-style-type: disc;
}

article ol {
    list-style-type: decimal;
}

article dl dd {
    margin: .5em 0 .5em 2em;
}

article img {
    max-width: 100%;
}

article figure {
    text-align: center;
}

article figcaption {
    font-style: italic;
    color: #666;
    margin-top: 2pt;
    font-size: .8em;
}

article > h1 {
    margin-bottom: 1rem;
}

/* GALERIE D'IMAGES EN DESSOUS DE L'ARTICLE */
section.gallery, section.documents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    margin: 1.5rem 0;
}

section.gallery figure, section.documents figure {
    max-width: 12rem;
    margin: 0;
    padding: 0;
}

section.gallery figure a, section.documents figure a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
}

section.gallery figure a img, section.documents figure a img {
    box-shadow: 0 0 5px 1px #999;
    border-radius: .25em;
    max-height: 150px;
    background: #fff;
    margin: .5rem;
}

section.documents figure a {
    text-decoration: none;
    border-radius: .5em;
    background: hsl(var(--first-color), 50%, 90%);
}

section.documents figure a figcaption {
    background: no-repeat bottom right;
    margin: .5rem;
    border-radius: .5em;
    display: block;
    font-size: 1em;
    font-style: normal;
    color: #666;
    transition: background-color .2s, color .2s, box-shadow .2s;
}

section.documents figure a:hover {
    background-color: #eee;
    color: #333;
    box-shadow: 0px 0px 5px hsl(var(--first-color), 50%, 50%);
}

section.documents aside a:hover figcaption b {
    color: darkred;
}

section.documents figcaption b {
    display: block;
    font-size: 1.1em;
    text-decoration: underline;
    color: darkblue;
}

section.documents figcaption span {
    font-size: .8em;
}

/* FORMULAIRES */
fieldset {
    border: 2px solid #ccc;
    border-radius: .5em;
    padding: 1em;
    margin: 1em;
}

fieldset legend {
    padding: 0 1em;
}

fieldset input, fieldset textarea, fieldset select {
    padding: .5rem;
    border: 1px solid #999;
    border-radius: .3rem;
    font-size: 1.2em;
}

fieldset input[type=submit] {
    background: #999;
    color: #fff;
    cursor: pointer;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px orange;
}

fieldset dl dd {
    margin: .5em 1em;
}

/** Encart module réservations */
.booking-btn {
    padding: 0;
    margin: -1em;
    margin-bottom: 1em;
}

.booking-btn a {
    display: flex;
    background: hsl(var(--second-color), 35%, 25%);
    border-radius: .5rem .5rem 0 0;
    color: #fff;
    font-size: 1.3em;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    transition: box-shadow .25s, color .25s, background .25s;
}

.booking-btn a b {
    font-weight: normal;
}

.booking-btn a span {
    background: no-repeat .5rem center;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g stroke="%23fff" stroke-linecap="round" stroke-linejoin="round"><path d="m8 2v3" stroke-miterlimit="10" stroke-width="1.5"/><path d="m16 2v3" stroke-miterlimit="10" stroke-width="1.5"/><path d="m3.5 9.08997h17" stroke-miterlimit="10" stroke-width="1.5"/><path d="m21 8.5v8.5c0 3-1.5 5-5 5h-8c-3.5 0-5-2-5-5v-8.5c0-3 1.5-5 5-5h8c3.5 0 5 2 5 5z" stroke-miterlimit="10" stroke-width="1.5"/><g stroke-width="2"><path d="m15.6947 13.7h.009"/><path d="m15.6947 16.7h.009"/><path d="m11.9955 13.7h.009"/><path d="m11.9955 16.7h.009"/><path d="m8.29431 13.7h.00898"/><path d="m8.29431 16.7h.00898"/></g></g></svg>');
    width: 2em;
    height: 2em;
    display: block;
}

.booking-btn a:hover {
    box-shadow: 0px 0px 5px 2px orange;
    color: #fcc;
    background: #966;
}

/** Encart module horaires d'ouverture */
.opening-next h3 {
    text-align: center;
    font-size: 1.3em;
}

section.page article.opening-next {
    background: #fff;
    background: hsl(var(--second-color), 30%, 35%);
    border-radius: .3em;
    color: #fff;
    box-shadow: 0px 0px 5px #000;
    margin-bottom: .5em;
    padding: .5rem;
}

section.page article.opening-hours, article.opening-hours {
    display: flex;
    justify-content: space-between;
    background: none;
    padding: 0;
    gap: .5rem;
}

article.opening-hours table th, article.opening-hours table td {
    padding: .2rem .4rem;
}

article.opening-hours table {
    width: 100%;
}

section.page article.opening-hours table {
    text-align: left;
    white-space: nowrap;
}

article.opening-hours .list {
    background: hsl(var(--first-color), 50%, 92%);
    padding: .5rem;
    border-radius: .5em;
}

article.opening-hours em {
    display: block;
}

article.opening-hours ul {
    margin-left: 1.5rem;
}

article.opening-hours h4 {
    color: #666;
}

nav.main article.opening-hours {
    flex-wrap: wrap;
    font-size: .9em;
}

nav.main article.opening-hours div {
    width: 100%;
    text-align: left;
}

nav.main article.opening-hours h4 {
    text-align: left;
}

nav.main article.opening-hours table tr {
    display: flex;
    flex-direction: column;
}

/* Modifications du style pour les petits écrans */
@media handheld, screen and (max-width: 980px) {
    body {
        padding: 0;
    }

    main, header.main {
        display: block;
    }

    header.nav {
        font-size: .9em;
        margin: 0;
    }

    header.main h1 a, header.main .contacts {
        border-radius: 0;
        margin: .2em 0;
        padding: 0;
    }

    header.main {
        background: #fff;
        padding: 1em;
    }


    header.main .contacts * {
        text-align: center;
        font-size: .8em;
    }

    header.main h1 a img {
        max-height: 200px;
        max-width: 100%;
    }

    .search-widget p {
        display: block;
        text-align: center;
    }

    .search-widget input {
        font-size: 1em;
    }

    nav.main ul, .subcategories {
        text-align: center;
    }

    nav.main ul li, .subcategories li {
        font-size: 1.2em;
        display: inline-block;
        margin: .3em;
    }
    nav.main ul li a, .subcategories li a {
        background: #fff;
    }

    .breadcrumbs {
        display: none;
    }

    nav.main {
        font-size: 1em;
        background: none;
    }

    section.page article {
        border-radius: 0;
    }

    section.page h1 { font-size: 1.5em; }
    section.page h2 { font-size: 1.3em; }
    section.page h3 { font-size: 1.2em; }
    section.page h4 { font-size: 1em; }
    section.page h5 { font-size: .9em; }
    section.page h6 { font-size: .8em; }

    footer.main {
        font-size: .8em;
    }

    .booking-btn {
        margin: 0;
    }

    .booking-btn a {
        border-radius: 0;
    }

    .search-widget {
        margin: .5em;
    }

    nav.main .subcategories {
        margin: 1em 0;
    }

    nav.main .subcategories li a {
        border: none !important;
        background: rgba(255, 255, 255, 0.7);
        margin: .2em;
        border-radius: .5em;
    }

    .search-widget input {
        width: 80%;
    }

    nav.main .opening-hours {
        display: none;
    }

    section.page article.opening-next {
        border-radius: 0;
    }

    section.page article.opening-hours, article.opening-hours {
        flex-direction: column;
        margin: .8em 0;
    }

    .articles article, article.single {
        margin: .5rem 0;
        background: #fff;
        padding: .5em;
    }
}
